<div ng-controller="LoginController as login">
    <h5 class="bg-info" ng-hide="login.isMessage" > {{ login.displayMessage }} </h5>
    <form class="form-signin" ng-submit="login.doLogin()">
        <h2 class="form-signin-heading">Please sign in</h2>
        <label for="userName" class="sr-only">Starwood One Id</label>
        <input type="text" id="userName" ng-model="login.userName" class="form-control" placeholder="Starwood One Id" required autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" ng-model="login.inputPassword" id="inputPassword" class="form-control" placeholder="Password" required>
        <div class="checkbox">
            <label>
                <input type="checkbox" value="remember-me"> Remember me
            </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    </form>
</div>