<html ng-app="phonecatApp">
<head>
  
   <script src="scripts/angular.js" ></script>

</head>
<body ng-controller="PhoneListCtrl as p">

  <ul>
    <li ng-repeat="phone in p.phones">
      <span>{{phone.name}}</span>
      <p>{{phone.snippet}}</p>
    </li>
  </ul>
    
    
    <script>
    var phonecatApp = angular.module('phonecatApp', []);

phonecatApp.controller('PhoneListCtrl', function () {
  this.phones = [
    {'name': 'Nexus S', 'snippet': 'Fast just got faster with Nexus S.'},
    {'name': 'Motorola XOOM™ with Wi-Fi', 'snippet': 'The Next, Next Generation tablet.'},
    {'name': 'MOTOROLA XOOM™','snippet': 'The Next, Next Generation tablet.'}
  ];
});
    
    </script>
    
    <form action="http://localhost:8080/SearchWeb/services/userservice/user/auth" method="post">
    UserName : <input type="text" name="username">
    Password : <input type="text" name="password">
    
    <input type="submit" name="Submit">
    
    </form>
    
    
    
    <div class="col-md-8">
		<ul class="nav nav-tabs">
			<li class="active"><a data-toggle="tab" href="#homeTab">Hotels Found</a></li>
			<li><a data-toggle="tab" href="#mapTab">Map</a></li>
		</ul>
		<div class="tab-content">
			<div id="homeTab" class="tab-pane fade in active">
  				<div class="thm-scroll">
					<div class="panel-group" ng-repeat="hotel in star.hotels">
					  <div class="panel panel-default">
					    <div class="panel-heading">{{ hotel.name }} 
					    	<span class="category"> - ( SPG Category {{ hotel.category }} )</span>
					    </div>
					    <div class="panel-body">
					    	<div class="row">
					    		<div class="col-sm-4"><img ng-src="{{hotel.images[0].thumb}}" class="img-rounded" alt="Hotel 1" width="200" height="200"></div>
					    		<div class="col-sm-4">
					    			<div class="details">
					    				<div class="address">{{ hotel.address.address1 }} <br/>
										{{ hotel.address.city }}, {{ hotel.address.state }} {{ hotel.address.pin }} <br />{{ hotel.address.country }}</div>
										<div class="phone">(1)(203) 358-8400</div>
										<p>0.92 km / 0.57 miles from center of Stamford.</p>
										
									</div>
								</div>
					    		<div class="col-sm-4">
			    					<div class="list-group" ng-show="hotel.price">
			    						<div class="list-group-item-heading"> <h4 class="righthead">Lowest Standred Rate</h4></div>
			    						<div class="list-group-item-text">
			    							<span class="price">{{hotel.price | currency}}</span> <span style="margin-left:55px;">&nbsp;</span>
			    							<button class="btn btn-theme" type="button">Book &gt;</button>
			    						</div>
			  						</div>
					    			<div class="list-group" ng-show="hotel.points">
					    				<div class="list-group-item-heading"><h4 class="righthead">SPG Free Nights</h4></div>
										<div class="list-group-item-text">
											<span class="price">{{ hotel.points}}</span>SPG Points 
											<button class="btn btn-theme" type="button">Book &gt;</button>
										</div>
			  						</div>

					    		</div>
					    	</div>
					    	<hotel-details></hotel-details>
					    </div>
					  </div>
					  
					</div>
				</div>
			</div>
			<div id="mapTab" class="tab-pane fade"> 
				Map
			</div>
		</div>
				</div>
    
</body>
</html>